<div class="map mt-5">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2871.073389654954!2d15.380731826150114!3d43.978531821088545!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4761e04f538c63e7%3A0x50f2a3d385586140!2sGale%C5%A1njak!5e0!3m2!1str!2str!4v1682552211010!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
