@using ResumeProject.Models;
@model List<TblTechnology>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Teknoloji Listesi</h2>

<table class="table table-bordered">
    <tr>
        <td>#</td>
        <td>Başlık</td>
        <td>Değer</td>
        <td>Sil</td>
        <td>Güncelle</td>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.TechnologyID</td>
            <td>@item.TechnologyTitle</td>
            <td>@item.TechnologyValue</td>
            <td><a href="/Technology/DeleteTechnology/@item.TechnologyID/" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/Technology/UpdateTechnology/@item.TechnologyID/" class="btn btn-outline-success">Güncelle</a></td>
        </tr>
    }
</table>

<a href="/Technology/AddTechnology/" class="btn btn-outline-primary">Yeni Teknoloji Girişi</a>