@model ResumeProject.Models.TblCategory 
@{
    ViewBag.Title = "UpdateCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>UpdateCategory</h2>

<form method="post">
    @Html.HiddenFor(x => x.CategoryID, new { @class = "form-control" })
    <br />
    <label>Kategori İsmi</label>
    @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Verileri Güncelle</button>
</form>
